body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  color: #66bfbf;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}
.top-container {
  position: relative;
  padding-top: 100px;
  background-color: #def3f3;
}
.bottom-cloud {
  position: absolute;
  bottom: 300px;
}
.top-cloud {
  position: absolute;
  top: 50px;
  right: 200px;
}
.footer-link {
  color: #11999e;
}
.btn {
  color: #11999e;
}
.programmer {
  font-weight: normal;
}
.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}
.computer {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.chili {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.profile-picture {
  width: 13rem;
  margin: 100px auto 0 auto;
}
.bio {
  margin: auto;
  line-height: 2;
  width: 30%;
}
.hr {
  border: dotted;
  color: #98f7f7;
  width: 4%;
  border-bottom: none;
  border-width: 8px;
  margin: 100px auto;
}
.call-to-action {
  line-height: 2;
  width: 30%;
  margin: auto;
}

/*CSS BUTTON CONTACT ME*/
.myButton {
  background-color: #44c767;
  border-radius: 28px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  margin: 2rem;
}
.myButton:hover {
  background-color: #5cbf2a;
}
.myButton:active {
  position: relative;
  top: 1px;
}
.bottom-container {
  background-color: rgb(148, 241, 241);
  height: 90px;
  padding-top: 100px;
  padding-bottom: 20px;
}
.footer-link {
  text-decoration: none;
  margin: 10px 20px;
}
.copy {
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
a:hover {
  color: #def3f3;
}
